body {
  padding: 0;
  min-width: 420px;
  color: $onyx;
}
.navbar__buttons{
  display: none;
}
header{

  flex-direction: row;
}

.center{
  text-align: center;
       
 }
 
 body{
   margin: 0 auto;
   padding: 0px;
 }

h1{
  font-weight: $bold;
  font-size: $xxx-large;
  text-align: center;;
}
.main{
    justify-content: left;
  }
@media (min-width: 768px) {
  header{
    flex-direction: column;
    }
    
}
@media (min-width: 1200px) {
  .hero__text{
      margin-left: 3rem;
      margin-bottom: 0px;
      position: relative;
      top: 10rem;   
  }
  .hero__imagen{
    position: relative;
    top: 0rem;
  }
}
