// Color Scheme
// First Color Scheme
$white: #FFF;
$platinum: #E8E8E8;
$gray: #BABABA;

// Second Color Scheme
$dark-salmon: #Ee9480;
$melon: #f4baae;
$pale-pink: #fadfda;

//Third Color Scheme
$ball-blue: #2ab7ca;
$middle-nlue: #77d1dd;
$b1e4eb: #b1e4eb;

//Fourth Color Scheme
$onyx: #333745;
$spanish-grey: #8f9199;
$lavender-gray: #c7c8cc;

//Fixe Color Scheme
$raising-black: #221d23;
$nickel: #726f73;
$silver-chalice: #aeacaf;

//Font Family
$font-family: 'Raleway', sans-serif;
$open-sans: 'Open Sans', sans-serif;

// Font Weight
$regular: 400;
$bold: 700;

// Font Sizes
$xxxxx-large: 50px;
$xxxx-large: 45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 30px;
$larges: 20px;
$medium: 16px;
$small: 14px;
$x-small: 12px;

// Buttons Sizes
$bmedium: 140px;
$blarge: 290px;
