footer{
    background: $raising-black;
    justify-content: space-between;
    padding: 2rem;
    li {
        margin: 0 1rem 0 1rem;
        list-style: none;
    }
    a {
        color: $white;
        text-decoration: none;
    }
    p {
        color: $white;  
        padding-right: 2rem;
    }
    .footer__content{
        text-align: center;
        justify-content: space-around;
        
    }

}
