header{
    display: flex;
    flex-flow: column wrap;
}

.graph{
    animation-name: opacity;
    animation-duration: 4s;
    animation-iteration-count: infinite;

    @keyframes opacity{
        0% {opacity: 0;}
        60% {opacity: 2;}
        100% {opacity: 1;}
    }
    .hero__text{
    max-width: 340px;
    height: auto;
    font-size: large;
    text-align: left;
    position: relative;
    padding: 3rem;
    box-sizing: content-box;
  
    .hero__text-1{
    font-size: $medium;
    margin-bottom: 0;
    max-width: 340px;
    }
}
.hero__text-title{
    font-size: $xxxxx-large;       
    font-weight: $bold;
    }
 .hero__imagen{
    width: 100%;
    min-width: 420px;
    display: block;
    height: auto;
    max-width: 1700px;
    position: relative;
    top: 4rem;
    margin-bottom: 2rem;
}


}