.center{
 text-align: center;
      
}

body{
  margin: 0 auto;
  padding: 0px;
}

.main__text-container{
  max-width: 550px;
  min-width: 400px;
}


.text-xlarge{
  font-size: $xx-large;
}
.text-large{
  font-size: $larges;
}