section{
    background-image: url(../images/bg-price.svg);
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    
}

.price{
    padding-top: 17.5rem;
    text-align: center;
    color: #fff;
    .container{
    display: flex;  
}
}
.col{
justify-content: center;
display: flex;
}
.card{
    background: $white;
    color: $onyx;
    text-align: left;
    padding: 3rem 2rem 2rem 2rem;      
    margin-top: 2rem;
    width: 370px;
}

.card-price{
    font-weight: $bold;
}

.cards{
    margin: 0%;
    background: $onyx;
}
.price__title{
        position: relative;
        bottom: 2rem;
    }