section{
    background-image: url(../images/bg-price.svg);
    height: 700px;
    width: auto;
    background-size: cover;
    background-repeat: no-repeat;
}

.price{
    padding-top: 10rem;
    text-align: center;
    color: #fff;
    
}

.card{
    background: white;
    color: black;
    text-align: left;
    padding: 3rem 2rem 2rem 2rem;      
    margin-top: 2rem;
    width: 370px;
        
}

.card-price{
    font-weight: bold;
}

.cards{
    justify-content: center;
}